.container {
    display :inline-block;
    width: 100%;
    padding: 60px 0;

}
.container > .row {
    display: inline-block;
    width: 600px;
    margin-left: calc(50% - 300px);
    
}

.container > .row-big {
    display: inline-block;
    width: 1000px;
    margin-left: calc(50% - 500px);
    
}

.container .left-column {
    display: inline-block;
    width: 50%;
    
}

.container .right-column{
    display: inline-block;
    width: 50%;
    
}
@media (max-width: 900px) {
    .container > .row-big {
        width: 600px;
        margin-left: calc(50% - 300px);
    }
    .container .left-column {
        width: 100%;
        
    }
    
    .container .right-column{
        width: 100%;
    }
}
@media (max-width: 640px) {
    .container {
       padding: 60px 20px;
    }
    .container > .row {
        width: 100%;
        margin-left: 0;
    }
    .container > .row-big{
        width: 100%;
        margin-left: 0;
    }
